{% include 'dashboards/includes/header.html' %}
   
    {% include 'dashboards/includes/sidebar.html' %}
    <!-- ======== main-wrapper start =========== -->
    {% include 'dashboards/includes/navigation.html' %}

      <!-- ========== table components start ========== -->
      <section class="table-components">
        <div class="container-fluid">
          {% for message in messages %}
                    
                    {% if "upload_unsuccess" in message.tags %}
                    <div class="alert alert-danger" role="alert">
                        {{message}}
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% for message in messages %}
                    
                    {% if "upload_success" in message.tags %}
                    <div class="alert alert-success" role="alert">
                        {{message}}
                    </div>
                    {% endif %}
                    {% endfor %}
          <!-- ========== title-wrapper start ========== -->
          <div class="title-wrapper pt-30">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="title mb-30">
                  <h2>Add Blogs</h2>
                </div>
              </div>
              <!-- end col -->
              
        <div>
          <form method="post" action ="" enctype="multipart/form-data">
           {% csrf_token %}
     
           <div class="form-elements-wrapper">
             <div class="row">
               <div class="col-lg-12">
                 <!-- input style start -->
                 <div class="card-style mb-30">
                   <h6 class="mb-25 text-center">BLOG Fields</h6>
                   <div class="input-style-1">
                    <label>Blog_title</label>
                    {{form.Blog_title}}
                    
                  </div>
                  
                   <div class="input-style-1">
                    <label>Blog Banner</label>
                    {{form.Blog_banner_Image}}
                    <span style =" font-size :11px">Please use our recommended dimensions: 424x300px, 100 KB MAX</span>
                  </div>
                  <div class="input-style-1">
                    <label>Blog First Image</label>
                    {{form.Blog_first_Image}}
                    <span style =" font-size :11px">Please use our recommended dimensions: 424x300px, 100 KB MAX</span>
                  </div>
                  <div class="input-style-1">
                    <label>Blog Second Image</label>
                    {{form.Blog_second_Image}}
                    <span style =" font-size :11px">Please use our recommended dimensions: 424x300px, 100 KB MAX</span>
                  </div>
                  <div class="input-style-1">
                    <label>Blog category</label>
                    {{form.category}}
                    
                  </div>
                  <div class="input-style-1">
                    <label>Blog author</label>
                    {{form.author}}
                    
                  </div>
                  <div class="input-style-1">
                    <label>Blog content</label>
                    {{form.media}}
                    {{form.content}}
                    
                  </div>

                

                   <!-- end input -->
                   <!-- end input -->
                   <div class="input-style-3">
                     <button type="submit" class="btn btn-primary">save</button>
                     
                   </div>
      
           
         
           
          </form>
           
             </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
          <!-- ========== tables-wrapper end ========== -->
        </div>
        <!-- end container -->
      </section>
      <!-- ========== table components end ========== -->

      <!-- ========== footer start =========== -->
      <footer class="footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 order-last order-md-first">
              <div class="copyright text-center text-md-start">
                <p class="text-sm">
                  Designed and Developed by
                  <a
                    href="https://plainadmin.com"
                    rel="nofollow"
                    target="_blank"
                  >
                    PlainAdmin
                  </a>
                </p>
              </div>
            </div>
            <!-- end col-->
            <div class="col-md-6">
              <div
                class="
                  terms
                  d-flex
                  justify-content-center justify-content-md-end
                "
              >
                <a href="#0" class="text-sm">Term & Conditions</a>
                <a href="#0" class="text-sm ml-15">Privacy & Policy</a>
              </div>
            </div>
          </div>
          <!-- end row -->
        </div>
        <!-- end container -->
      </footer>
      <!-- ========== footer end =========== -->
    </main>
    <!-- ======== main-wrapper end =========== -->

    <!-- ========= All Javascript files linkup ======== -->
    {% include 'dashboards/includes/scripts.html' %}
  </body>
</html>
