{% extends 'bash.html' %}
{% block content %}
{% load static %}
<!-- profile -->
<!-- register -->
<div class="modal" id="profile">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"><a href="#register">Profile  </a></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
  
          
  <div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
  
  
      
  
  </div>
          <!-- Modal footer -->
        <div class="modal-footer">
          
        </div>
  
        </div>
  
      </div>
    </div>
  </div>
  <style>

.gradient-custom {
/* fallback for old browsers */
background: #f093fb;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}
.card-registration .select-arrow {
top: 13px;
}
  </style>
  <style>
  
  .newsletter-area
  {
      margin-left: 30%;
      margin-right: 30%;
  }
  .login
  {
      margin-left: 30%;
      margin-right: 30%;
  }
  @media only screen and (max-width: 600px) {
      .newsletter-area{
          margin-left: 0%;
          margin-right: 0%;
      }
      .login
      {
          margin-left: 20%;
          margin-right: 20%;
      }
  }
  
  .line {
      height: 1px;
      width: 45%;
      background-color: #E0E0E0;
      margin-top: 10px
  }
  
  .or {
      width: 10%;
      font-weight: bold
  }
  
  .text-sm {
      font-size: 14px !important
  }
  
  ::placeholder {
      color: #BDBDBD;
      opacity: 1;
      font-weight: 300
  }
  
  :-ms-input-placeholder {
      color: #BDBDBD;
      font-weight: 300
  }
  
  ::-ms-input-placeholder {
      color: #BDBDBD;
      font-weight: 300
  }
  
  input,
  textarea {
      padding: 10px 12px 10px 12px;
      border: 1px solid lightgrey;
      border-radius: 2px;
      margin-bottom: 5px;
      margin-top: 2px;
      width: 100%;
      box-sizing: border-box;
      color: #2C3E50;
      font-size: 14px;
      letter-spacing: 1px
  }
  
  input:focus,
  textarea:focus {
      -moz-box-shadow: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      border: 1px solid #304FFE;
      outline-width: 0
  }
  
  button:focus {
      -moz-box-shadow: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      outline-width: 0
  }
  
  a {
      color: inherit;
      cursor: pointer
  }
  
  .btn-blue {
      background-color: #1A237E;
      width: 150px;
      color: #fff;
      border-radius: 2px
  }
  
  .btn-blue:hover {
      background-color: #000;
      cursor: pointer
  }
  
  .bg-blue {
      color: #fff;
      background-color: #1A237E
  }
  
  @media screen and (max-width: 991px) {
      .logo {
          margin-left: 0px
      }
  
      .image {
          width: 300px;
          height: 220px
      }
  
      .border-line {
          border-right: none
      }
  
      .card2 {
          border-top: 1px solid #EEEEEE !important;
          margin: 0px 15px
      }
  }
  .newsletter-bg {
    text-align: center;
    background-position: center !important;
    background-size: cover !important;
    padding: 30px 40px !important;
}
  </style>
  
     <!-- main-area -->
          <main>
  
              <!-- breadcrumb-area -->
              {% for i in register_banner %}
                
              
              <section class="breadcrumb-area breadcrumb-bg" data-background="/media/{{i.Banner_Image}}" alt="Register Image">
                  <div class="container">
                    
                      <div class="row">
                          <div class="col-12">
                              <div class="breadcrumb-content visible">
                                  <h2>Register</h2>
                                  <nav aria-label="breadcrumb">
                                      <ol class="breadcrumb">
                                          <li class="breadcrumb-item"><a href="/" title="Home">Home</a></li>
                                          <li class="breadcrumb-item active" aria-current="page">register</li>
                                      </ol>
                                  </nav>
                              </div>
                          </div>
                      </div>
                  </div>
                  {% endfor %}
              </section>
              <!-- breadcrumb-area-end -->
  
  
      <section class="newsletter-area pt-100 pb-100">
                  <div class="container">
                    {% for message in messages %}
                    
                    {% if "email_exist" in message.tags %}
                    <div class="alert alert-warning" role="alert">
                    {{message}} 
                    </div>
                    {% endif %}
                    {% endfor %}
                    
                    {% for message in messages %}
                    
                    {% if "singuperror" in message.tags %}
                    <div class="alert alert-warning" role="alert">

                    {{message}} 
                    </div>
                    {% endif %}
                    {% endfor %}
                      <div class="row">
                          <div class="col-12">

                              <div class="newsletter-bg newsletter-style-two text-justify" data-background="/static/img/images/newsletter_bg02.jpg" alt="Ancifab Registeration">
                                  <div class="newsletter-title mb-25">
                                      <h1 class="title text-dark text-center">Welcome to Ancifab</h1>
                                      <h2 class="title text-center">Register!</h2>
                                  </div>
                                 <h2 id="msg_register" style="color: green;"></h2>
                                  <form method="post" action="" id="register"  >
                                    {% csrf_token %}
                          
                                <div class="col-12">
                                      <div class="form-group" >
                                        <label for="pwd">Password:</label>
                                        <input type="password" class="form-control" id="pass" value="" placeholder="Enter password" minlenght="8" autocomplete = "off" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="pass" required>
                                        <span id="error_pass" class="text-danger"></span> 
                                        <p id="length" class="invalid">Minimum <b>8 characters </b>with <b>small</b> , <b>capital</b> letter and <b>number</b></p>
                                    </div>

                                 
                                       <div class="form-group">
                                        <label for="pwd"> Confirm Password:</label>
                                        <input type="password" class="form-control" id="cpass"  value="" placeholder="Re-enter password" minlenght="8" name="cpass" required>
                                        {% comment %} <span id="confirmMessage" class="confirmMessage"></span> {% endcomment %}
                                        <span id="error_cpass" class="text-danger"></span>     
                                    </div>
                                    </div>
                                    <div class="row px-5 mb-4">
                                          <div class="custom-control custom-checkbox custom-control-inline"> <input id="chk1" type="checkbox" name="remember" class="custom-control-input" required> <label for="chk1" class="custom-control-label text-dark text-sm">By Signing In, I agree to Terms and Conditions.</label> </div>
                                      </div>
  
                                      <div class="row mb-3 px-5"> <button type="submit" value="submit" id="submit" class="btn btn-blue text-center">Register</button> </div>
                                  </form>
                                  <div class="row mt-3 px-1"> <medium class="font-weight-bold">Already registered ? <a href="/login" class="text-success ">Login</a></medium> </div>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </section>

  
  <script>
function checkPass()
{
    //Store the password field objects into variables ...
    var pass1 = document.getElementById('pass');
    var pass2 = document.getElementById('cpass');
    //Store the Confimation Message Object ...
    var message = document.getElementById('confirmMessage');
    //Set the colors we will be using ...
    var goodColor = "#66cc66";
    var badColor = "#ff6666";
    //Compare the values in the password field 
    //and the confirmation field
    if(pass1.value == pass2.value){
        //The passwords match. 
        //Set the color to the good color and inform
        //the user that they have entered the correct password 
        //pass2.style.backgroundColor = goodColor;
        //message.style.color = goodColor;
       //message.innerHTML = "Passwords Match";
    }else{
        //The passwords do not match.
        //Set the color to the bad color and
        //notify the user.
        //pass2.style.backgroundColor = badColor;
        //message.style.color = badColor;
        message.innerHTML = "Passwords Do Not Match!"
    }
}




  </script>


 
 <script>
    $(document).ready(function(){
		$flag=1;
    	$("#myName").focusout(function(){
            $myname =$("#myName").val();
    		if($(this).val()==''){
        		$(this).css("border-color", "#FF0000");
        			$('#submit').attr('disabled',true);
        			 $("#error_name").text("* You have to fill first name!");
        	}
        	else if (($myname.length < 4) || ($myname.length > 25 ))
        	{   
                    $(this).css("border-color", "#FF0000");
        			$('#submit').attr('disabled',true);
        			$("#error_name").text("*Lenght should Be 4 to 25");
        	}
            else
        	{
        		$(this).css("border-color", "#2eb82e");
        		$('#submit').attr('disabled',false);
        		$("#error_name").text("");

        	}
       });
        $("#lastname").focusout(function(){
            $lname =$("#lastname").val();
    		if($(this).val()==''){
        		$(this).css("border-color", "#FF0000");
        			$('#submit').attr('disabled',true);
        			$("#error_lastname").text("* You have to fill Last name!");
        	}
            else if (($lname.length < 4) || ($lname.length > 25 ))
        	{   
                    $(this).css("border-color", "#FF0000");
        			$('#submit').attr('disabled',true);
        			$("#error_lastname").text("*Lenght Should Be 4 to 25");
        	}
        	else
        	{
        		$(this).css("border-color", "#2eb82e");
        		$('#submit').attr('disabled',false);
        		$("#error_lastname").text("");
        	}
       });
       $("#email").focusout(function(){
        if($(this).val()==''){
            $(this).css("border-color", "#FF0000");
                $('#submit').attr('disabled',true);
                 $("#error_emailcheck").text("* You have to enter your email!");
        }
       
        else
        {
            $(this).css("border-color", "#2eb82e");
            $('#submit').attr('disabled',false);
            $("#error_emailcheck").text("");

        }
   });
        
        $("#phone").focusout(function(){
            
            $pho =$("#phone").val();
    		if($(this).val()==''){
        		$(this).css("border-color", "#FF0000");
        			$('#submit').attr('disabled',true);
        			$("#error_phone").text("* You have to enter Phone Number!");
        	}
            
        	else if ($pho.length!=10)
        	{   
                    $(this).css("border-color", "#FF0000");
        			$('#submit').attr('disabled',true);
        			$("#error_phone").text("* Lenght of Number Should Be Ten");
        	}
        	else{
        		$(this).css({"border-color":"#2eb82e"});
        		$('#submit').attr('disabled',false);
        		$("#error_phone").text("");
        	}

    	});
        $("#pass").focusout(function(){
        
            $pass =$("#pass").val();
    		if($(this).val()==''){
        		$(this).css("border-color", "#FF0000");
        			$('#submit').attr('disabled',true);
        			$("#error_pass").text("* enter password!");
        	}
           
        	else if ($pass.length < 7 )
        	{   
                    $(this).css("border-color", "#FF0000");
        			$('#submit').attr('disabled',true);
        			$("#error_pass").text("* Lenght of password should be minimum 8 charecter");
        	}
        	
           
            
        	else{
        		$(this).css({"border-color":"#2eb82e"});
        		$('#submit').attr('disabled',false);
        		$("#error_pass").text("");
        	}

    	});
        $("#cpass").focusout(function(){
            
            $pass =$("#pass").val();
            $cpass =$("#cpass").val();
    		if($(this).val()==''){
        		$(this).css("border-color", "#FF0000");
        			$('#submit').attr('disabled',true);
        			$("#error_cpass").text("* enter confirm password!");
        	}
            else if ($pass != $cpass)
            {   
                $(this).css("border-color", "#FF0000");
                $('#submit').attr('disabled',true);
                $("#error_cpass").text("* password not matched");
        }
            else{
        		$(this).css({"border-color":"#2eb82e"});
        		$('#submit').attr('disabled',false);
        		$("#error_cpass").text("");
        	}
         });
   		$( "#submit" ).click(function() {
   			if($("#myName" ).val()=='')
   			{
        		$("#myName").css("border-color", "#FF0000");
        			$('#submit').attr('disabled',true);
        			 $("#error_name").text("* You have to enter your first name!");
        	}
        	if($("#lastname" ).val()=='')
   			{
        		$("#lastname").css("border-color", "#FF0000");
        			$('#submit').attr('disabled',true);
        			 $("#error_lastname").text("* You have to enter your Last name!");
        	}
            if($("#myName" ).val()=='')
            {
             $("#email").css("border-color", "#FF0000");
                 $('#submit').attr('disabled',true);
                  $("#error_emailcheck").text("* You have to enter email!");
         }
   			
        	if($("#phone" ).val()=='')
   			{
        		$("#phone").css("border-color", "#FF0000");
        			$('#submit').attr('disabled',true);
        			 $("#error_phone").text("* You have to enter your Phone Number!");
        	}
			if($("#pass" ).val()=='')
   			{
        		$("#pass").css("border-color", "#FF0000");
        			$('#submit').attr('disabled',true);
        			 $("#error_pass").text("* You have to enter your Phone Number!");
        	}
            if($("#cpass" ).val()=='')
   			{
        		$("#cpass").css("border-color", "#FF0000");
        			$('#submit').attr('disabled',true);
        			 $("#error_cpass").text("* You have to enter your Phone Number!");
        	}
			
			
        
        
        
        });

            
    	
	});
 </script>

 
  <!-- email availibility-->
 {% comment %} <script>  
   $(document).ready(function(){  
        $('#email').change(function(){  
             var email = $('#email').val();  
             if(email != '')  
             {  
                  $.ajax({  
                       url:"https://ancifab.com/Frontend_Login/check_email_avalibility",  
                       method:"POST",  
                       data:{email:email},  
                       success:function(data){  
                            $('#email_result').html(data);  
                       }  
                  });  
             }  
        });  
   });  
   </script>  {% endcomment %}
   <!-- email availibility-->
  
  <!-- register form script -->
  <!-- <script>
      function register_form(ev){
          $.ajax({                      
              url: 'Frontend_Login/register_insert',
              type: 'POST',
              data: $("#register").serialize(),
              success: function(data){ -->
                  <!-- // document.getElementById("register").reset();
//                   $("#msg_register").html(data);
//               }
//           });
//           return false;
//       }
//   </script> -->
  </main>
  {% endblock  %}