{% extends 'bash.html' %}
{% block content %}
{% load static %}
    <!-- main-area -->
 <main>

    <!-- breadcrumb-area -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb p-2 float-center">
                                <li class="breadcrumb-item"><a href="/" title="Home">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb-area-end -->

    <!-- choose-area -->
    <section class="choose-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% for i in privacy %}
                    <div class="choose-wrap">
                        <div class="section-title title-style-three mb-30">
                            
                            <h1 class="title">{{i.title}}</h1>
                            <!-- <span class="sub-title">A studio for Innovation</span> -->
                        </div>
                    </div>
                    <div class="choose-wrap">
                        <div class="choose-content text-justify">
                            {{i.content|safe}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- choose-area-end -->

</main>
 {% endblock  %}