{% include 'dashboards/includes/header.html' %}
   
    {% include 'dashboards/includes/sidebar.html' %}
    <!-- ======== main-wrapper start =========== -->
    {% include 'dashboards/includes/navigation.html' %}
    {% load placeholder %}
      <!-- ========== table components start ========== -->
      <section class="table-components">
        <div class="container-fluid">
          {% for message in messages %}
                    
                    {% if "upload_unsuccess" in message.tags %}
                    <div class="alert alert-danger" role="alert">
                        {{message}}
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% for message in messages %}
                    
                    {% if "upload_success" in message.tags %}
                    <div class="alert alert-success" role="alert">
                        {{message}}
                    </div>
                    {% endif %}
                    {% endfor %}
          <!-- ========== title-wrapper start ========== -->
          <div class="title-wrapper pt-30">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="title mb-30">
                  <h2>Add Product sub category</h2>
                </div>
              </div>
              <!-- end col -->
           <div>
          
     
           <div class="form-elements-wrapper">
             <div class="row">
               <div class="col-lg-6">
                 <!-- input style start -->
                 <div class="card-style mb-30">
                   <h6 class="mb-25 text-center">Products sub Category Fields</h6>
                   <form method="post" action ="" >
                    {% csrf_token %}
                   <div class="input-style-1">
                     <label>Select Category </label>
                     {{form.Category|classes:"form-control"}}
                     
                   </div>
                   <!-- end input -->
                   <div class="input-style-1">
                     <label>Sub category Name</label>
                     {{form.Sub_Category_name|placeholder:"Enter Sub category"}}
                     <span class="icon"></span>
                   </div>
                   <!-- end input -->
                   <div class="input-style-3">
                     <button type="submit" class="btn btn-primary">save</button>
                     
                   </div>
                  </form>
           
             </div>
             
              </div>
              <!-- end col -->
              <div class="col-lg-6">
                <div class="card-style mb-30">
                  <h6 class="mb-10 text-center">Subcategory data</h6>
                  
                  <div class="table-wrapper table-responsive">
                    <table class="table striped-table">
                      <thead>
                        <tr>
                         
                          <th><h6>Categoy name</h6></th>
                          <th><h6>Subategory Name</h6></th>
                          <th><h6>Action</h6></th>
                        </tr>
                        <!-- end table row-->
                      </thead>
                      <tbody>
                        {% for i in subcategory%}
                        <tr>
                          <td>
                            <p>{{i.Category}}</p>
                          </td>
                          <td>
                            <p>{{i.Sub_Category_name}}</p>
                          </td>
                          <td>
                          <div class="action">
                            <form action="{% url 'updatesubcategory' i.Sno %}" method="post">
                              {% csrf_token %}
                              <button class="text-warning">
                                <i>
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                  </svg>
                                </i>
                              </button>
                             </form> 
                            
                             <form action="{% url 'subcategory_delete' i.Sno %}" method="post">
                              {% csrf_token %} 
                              <button class="text-danger" onclick="return confirm('Are You Sure?');">
                                <i class="lni lni-trash-can"></i>
                              </button>
                            </form>
                          </div>
                          </td>
                        </tr>
                        {% endfor %}
                        <!-- end table row -->
                        
                        
                      </tbody>
                    </table>
                    <!-- end table -->
                    <!-- end table -->
                  </div>
                </div>
                <!-- end card -->
            </div>

            <!-- end row -->
          </div>
          <!-- ========== tables-wrapper end ========== -->
        </div>
        <!-- end container -->
      </section>
      <!-- ========== table components end ========== -->

     <!-- ========== table components end ========== -->
     {% include 'dashboards/includes/footer.html'%}
     <!-- ========= All Javascript files linkup ======== -->
     {% include 'dashboards/includes/scripts.html' %}
      
  </body>
</html>
