{% include 'dashboards/includes/header.html' %}
   
    {% include 'dashboards/includes/sidebar.html' %}
    <!-- ======== main-wrapper start =========== -->
    {% include 'dashboards/includes/navigation.html' %}
    <style>
      .instock{
        text-transform:uppercase; 
        font-size:12px ;
        {% comment %} text-align:right!important; {% endcomment %}
      }
    </style>
      <!-- ========== table components start ========== -->
<section class="table-components">
    <div class="container-fluid">

          
          <!-- ========== messege  devider ========== -->
          {% for message in messages %}
                    
          {% if "Product_update_unsuccess" in message.tags %}
          <div class="alert alert-danger" role="alert">
              {{message}}
          </div>
          {% endif %}
          {% endfor %}
          {% for message in messages %}
          
          {% if "Product_update_success" in message.tags %}
          <div class="alert alert-success" role="alert">
              {{message}}
          </div>
          {% endif %}
          {% endfor %}
           <!-- ========== title-wrapper start ========== -->
          <div class="title-wrapper pt-30">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="title mb-30">
                  <h2>Return Orders</h2>
                </div>
              </div>
              <!-- end col -->
              
        {% comment %} <div>
          
          
     
           <div class="form-elements-wrapper">
             <div class="row">
              
                <div class="col-sm-4">
                  <div class="card card-style mb-30 pb-5">
                    <div class="card-body text-center">
                      <h5 class="card-title">Total Orders</h5>
            
                      <a href="#" class="btn btn-warning mt-4">{{ordercount}}</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card card-style mb-30 pb-5">
                    <div class="card-body text-center">
                      <h5 class="card-title">Pending Order</h5>
                      
                      <a href="#" class="btn btn-warning mt-4">{{pendingcount}}</a>
                    </div>
                  </div>
                </div> 
                <div class="col-sm-4">
                  <div class="card card-style mb-30 pb-5 ">
                    <div class="card-body text-center ">
                      <h5 class="card-title">Place order</h5>
                      
                      <a href="#" class="btn btn-warning mt-4">{{placeordercount}}</a>
                    </div>
                  </div>
                </div> 
                {% comment %} <div class="col-sm-3">
                  <div class="card card-style mb-30 pb-5 ">
                    <div class="card-body text-center ">
                      <h5 class="card-title">Trending Product</h5>
                      
                      <a href="#" class="btn btn-warning mt-4">{{trendingcount}}</a>
                    </div>
                  </div>
                </div> {% endcomment %}
              <!-- end col -->
              <div class="col-lg-12">
                <div class="card-style mb-30">
                  
                  <h6 class="mb-10 text-center">Return Orders</h6>
                  
                  <div class="table-wrapper table-responsive">
                    <table class="table striped-table">
                      <thead>
                        <tr>
                          <th><h6>SL No</h6></th>
                          <th><h6>Order Id</h6></th>
                          <th><h6>customer name</h6></th>
                          <th><h6>Product Image by customer</h6></th>
                          <th><h6>Pickup address</h6></th>
                          <th><h6>Order Details</h6></th>
                          <th><h6>payment status</h6></th>
                          <th><h6>Payment mood</h6></th>
                          <th><h6>Pickup Status</h6></th>
                        </tr>
                        <!-- end table row-->
                      </thead>
                      <tbody>
                        {% for i in returnoders %}
                        <tr>
                            <td>
                                <p>{{ forloop.counter }}</p>
                            </td>
                            <td>
                              {{i.media}}
                              <p>{{i.order_id}}</p>
                            </td> 
                          <td>
                                <p>{{i.customer}}</p>
                          </td>  
                          <td>
                            <p><img src="/media/{{i.cancelproductImage}}" style="width:50px;height:auto;"></p>
                          </td>
                          
                          <td>
                            
                               
                            <p>
                              customer :{{i.firstname}}  {{i.lastname}} <br>
                              {{i.address}}
                            </p>
                          </td>
                          <td>
                            <p>
                            <form action="{% url 'return_oder_summary' i.id %}" method="post">
                              {% csrf_token %}
                              <button type="submit" name="" id="" class="status-btn btn-warning" style="font-size:13px" onMouseOver="this.style.color='blue'"
                              onMouseOut="this.style.color='black'" >order summary</button>
                            </form>
                          </p>
                            
                          </td>
                          <td>
                            <p>{% if i.paid is True %}</p>
                            <a name="" id="" class="status-btn success-btn"  role="button" >Paid</a>
                            {% else %}
                            <a name="" id="" class="status-btn close-btn"   role="button">Unpaid</a>
                            {% endif %}
                          </td>
                          
                          
                          <td>
                            {{i.payment_mood}}
                          </td>
                          <td>
                            {% if i.Pickup_request is False %}
                            <form action="{% url 'Pickup_request' i.id %}" method="post">
                              {% csrf_token %}
                              <button type="submit" name="" id="" class="status-btn info-btn" >Pending</button>
                            </form>
                            {% else %}
                            <button type="button" name="" id="" class="status-btn active-btn" >Accepted</button>
                            {% endif %}
                          </td>
                          
                         
                        </tr>
                        {% endfor %}
                        <!-- end table row -->
                        
                        
                      </tbody>
                    </table>
                    <!-- end table -->
                  </div>
                </div>
                <!-- end card -->
              </div>
      </div> 
            <!-- end row -->
            <nav aria-label="Page navigation example" class="">
              <ul class="pagination">
                {% if product.has_previous %}
                <li class="page-item"><a class="page-link" href="/admins/product_manage/?page={{product.previous_page_number}}">Previous</a></li>
                {% endif %}
                 {% for n in allpages %} 
                <li class="page-item"><a class="page-link" href="/admins/product_manage/?page={{n}}">{{n}}</a></li>
                {% endfor %} 
                {% if product.has_next %}
                <li class="page-item"><a class="page-link" href="/admins/product_manage/?page={{product.next_page_number}}">Next</a></li>
                {% comment %} {% if product.has_next is none %}

                <li class="page-item"><a class="page-link" href="/admins/product_manage/?page={{lastpage}}">Last</a></li>
                   {% endif %} {% endcomment %}
                {% endif %}
              </ul>
            </nav>
    </div>
          <!-- ========== tables-wrapper end ========== -->
  </div>
        
        <!-- end container -->
</section>
      <!-- ========== table components end ========== -->
    {% include 'dashboards/includes/footer.html'%}
    <!-- ========= All Javascript files linkup ======== -->
    {% include 'dashboards/includes/scripts.html' %}
  </body>
</html>
