<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="assets/images/favicon.svg"
      type="image/x-icon"
    />
    <title>ancifab |admin panel</title>

    <!-- ========== All CSS files linkup ========= -->
    <link rel="stylesheet" href="/static/dashboard_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/dashboard_assets/css/lineicons.css" />
    <link rel="stylesheet" href="/static/dashboard_assets/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="/static/dashboard_assets/css/fullcalendar.css" />
    <link rel="stylesheet" href="/static/dashboard_assets/css/fullcalendar.css" />
    <link rel="stylesheet" href="/static/dashboard_assets/css/main.css" />
    <link rel="stylesheet" href="/static/css/fontawesome-all.min.css">
    <style>
      .rating-color{
        color:#fbc634 !important;
    }
    </style>
    <script type="text/javascript">
      tinyMCE.init({
              mode: "textareas",
              theme: "simple"
      });
</script>
  </head>