  <!-- ========= All Javascript files linkup ======== -->
  <script src="/static/dashboard_assets/js/bootstrap.bundle.min.js"></script>
  <script src="/static/dashboard_assets/js/Chart.min.js"></script>
  <script src="/static/dashboard_assets/js/dynamic-pie-chart.js"></script>
  <script src="/static/dashboard_assets/js/moment.min.js"></script>
  <script src="/static/dashboard_assets/js/fullcalendar.js"></script>
  <script src="/static/dashboard_assets/js/jvectormap.min.js"></script>
  <script src="/static/dashboard_assets/js/world-merc.js"></script>
  <script src="/static/dashboard_assets/js/polyfill.js"></script>
  <script src="/static/dashboard_assets/js/main.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>

